:root {
    --darkPink: #f0607c;
    --corn: #fbe75c;
    --vividViolet: #802a8d;
    --paris: #25245e;
    --corn-silk: #fef9d6;

    font-family: 'Red Hat Display', 'Nunito', sans-serif;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;

    background-color: var(--paris);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}